# Code ownership rules
* @salesforce-architects

# Apex classes
/force-app/main/default/classes/ @apex-team

# Lightning web components
/force-app/main/default/lwc/ @frontend-team

# Integrations package
/packages/integrations/ @integration-team
